.sectionTwoContainer {
  background-color: hsl(257, 7%, 93%);
  margin-top: 8vw;
  padding-top: 35vw;
  width: 100vw !important;
  padding-bottom: 10vw;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 7vw !important;
    line-height: 7vw;
    width: 90% !important;
  }
  .text {
    font-size: 6vw !important;
    width: 90% !important;
  }
}
.title {
  text-align: center;
  width: 50%;
  margin: auto;
  font-family: boldFont;
  font-size: 3vw;
  color: hsl(257, 27%, 26%);
}
.text {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 2vw;
  color: hsl(257, 7%, 63%);
}
