.shortener {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;

  padding: 2vw 2vw;
  border-radius: 1vw;
  background-color: hsl(257, 27%, 26%);
  background-image: url(/public/assets/bg-shorten-desktop.svg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .shortener {
    flex-direction: column;
  }
  .shortener button {
    width: 93%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 6vw;
    height: fit-content;
    justify-content: center !important;
  }
  .shortener input {
    width: 90%;
    margin-top: 2vw;
    font-size: 6vw;
    height: fit-content;
  }
}
