.footerContainer {
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  background-color: hsl(260, 8%, 14%);
  color: hsl(257, 7%, 63%);
  padding: 2vw;
}
.footerContainer .logo {
  width: 15vw;
}
@media screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;

    font-size: 5vw !important;
  }
  .footerContainer .logo {
    width: 50% !important;
    align-self: center;
  }
  .footerContainer .socialLinks {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 100%;
  }
  .footerContainer .socialLinks img {
    width: 6vw !important;
  }
  .listGroup {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    margin: auto !important;
    width: 100%;
  }
  .listGroup li {
    margin: auto;
    font-size: 6vw;
  }
}

.footerContainer .logo img {
  width: 100%;
  filter: brightness(100);
}
.footerContainer .socialLinks img {
  width: 3vw;
  margin-left: 1vw;
  cursor: pointer;
}
.listGroup {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listGroup li:first-of-type {
  font-family: boldFont;
  margin-bottom: 2vw;
  color: white;
  cursor: default !important;
  text-decoration: none !important;
}

.listGroup li:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
