body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: regularFont;
}
@font-face {
  font-family: regularFont;
  src: url(/public/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: boldFont;
  src: url(/public/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: bolderFont;
  src: url(/public/font/Poppins/Poppins-ExtraBold.ttf);
}
